%h1
  About me.
  %span.grey.subtitle The abridged version.
.about_body
  %p
    After <span class="career_target">college</span>
    I have spent my career
    <span class="career_target">cooking</span>,
    <span class="career_target">coding</span>,
    <span class="career_target">producing music</span> and
    <span class="career_target">public radio</span>.

  %p
    %span.grey.small
      Note: I apologize for the teaser above. I am coding this section in right now, so check back shortly and the full story will be told.
