<div class="page-container">
  <div class="left-container">
    <div class="elevator-btn-panel">
      <div class="row">
        <div class="floor-btn-container">
          <div class="floor-btn-display">1</div>
          <div class="floor-btn" data-btn="1">1</div>
          <div class="clear"></div>
        </div>
        <div class="floor-btn-container">
          <div class="floor-btn-display">2</div>
          <div class="floor-btn" data-btn="2">2</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="row">
        <div class="floor-btn-container">
          <div class="floor-btn-display">3</div>
          <div class="floor-btn" data-btn="3">3</div>
          <div class="clear"></div>
        </div>
        <div class="floor-btn-container">
          <div class="floor-btn-display">4</div>
          <div class="floor-btn" data-btn="4">4</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="row">
        <div class="floor-btn-container">
          <div class="floor-btn-display">5</div>
          <div class="floor-btn" data-btn="5">5</div>
          <div class="clear"></div>
        </div>
        <div class="floor-btn-container">
          <div class="floor-btn-display">6</div>
          <div class="floor-btn" data-btn="6">6</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>


      <div class="row">
        <div class="floor-btn-container">
          <div class="floor-btn-display">7</div>
          <div class="floor-btn" data-btn="7">7</div>
          <div class="clear"></div>
        </div>
        <div class="floor-btn-container">
          <div class="floor-btn-display">8</div>
          <div class="floor-btn" data-btn="8">8</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>


      <div class="row">
        <div class="floor-btn-container">
          <div class="floor-btn-display">9</div>
          <div class="floor-btn" data-btn="9">9</div>
          <div class="clear"></div>
        </div>
        <div class="floor-btn-container">
          <div class="floor-btn-display">10</div>
          <div class="floor-btn" data-btn="10">10</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <div class="right-container">
    <div class="floor" data-floor="10">10</div>
    <div class="floor" data-floor="9">9</div>
    <div class="floor" data-floor="8">8</div>
    <div class="floor" data-floor="7">7</div>
    <div class="floor" data-floor="6">6</div>
    <div class="floor" data-floor="5">5</div>
    <div class="floor" data-floor="4">4</div>
    <div class="floor" data-floor="3">3</div>
    <div class="floor" data-floor="2">2</div>
    <div class="floor" data-floor="1">LOBBY</div>
  </div>

  <div class="clear"></div>
</div>