<h1>Hello.</h1>

<div class="home_body">
  <p>
  I am an NYC based Front End Web Developer.
  </p>

  <p>
  At <a href="http://www.nowthisnews.com" target="_blank">NowThis</a>, my work is primarily focused on building cutting edge web applications using Node, Angular.js, React, Flux and HTML5.
  </p>
  <p>
  I am also a <a href="https://generalassemb.ly/instructors/hsi-chang-lin/3233" target="_blank">course instructor</a> at <a href="https://generalassemb.ly/" target="_blank">General Assembly</a>, where I teach the &quot;Programming for Non-Programmers&quot; bootcamps and workshops.
  </p>
</div>
