%h1
  Hello.

.home_body
  %p
    I am a Brooklyn, NY based Web Developer specializing in Ruby, Rails and Javascript.


/
  .dark_screen

  .container
    .cube.cube-animation
      .face.front
        %span.hello.hello-animation
          Hello
      .face.right
        %span.name
          My name is Hsi-Chang Lin
      .face.back
        %span.intro
          I am a web developer
      .face.left
        %span.tag
          This site is being updated now
      .face.bottom
        %span.me
          ME
      .face.top
        %span.skills
          I like: Ruby, Javascript, jQuery, MySQL, PostgreSQL, CSS3, HTML5 and more
