%h1
  Resume
.resume_body
  %p
    To download a .pdf copy of my resume click the link below.
.resume_link_container
  = link_to 'DOWNLOAD PDF', '/hsi_chang_lin_resume_late_2014_v2.pdf', :class => 'button'



