$proxima: "proxima-nova", sans-serif;
$primary-font-color: black;
$secondary-font-color: blue;
$highlight-font-color: green;

$nav-text: "proxima-nova", sans-serif;
$nav-item-color: #FFFFFF;
$link-hover-color: #E3EFF4;
$nav-background-color: #467AA7;

.contact_body {
  font-family: $proxima;
  font-size: 24px;
  line-height: 36px;
  color: #000;
}
