.navbar
  .group.half
    %span.nav-title
      Hsi-Chang Lin
  .group.half.nav-menu-item-container
    %span.nav-item
      = link_to 'Home', root_url
    /
      %span.nav-item
        About
      %span.nav-item
        Resume
    %span.nav-item
      = link_to 'Contact', contact_path
  .clear
