.navbar
  .navbar_inner
    .group.half
      %span.nav-title
        Hsi-Chang Lin
    .group.half.nav-menu-item-container
      %span.nav-item
        = link_to 'Home', root_url
      %span.nav-item
        = link_to 'About', about_path
      %span.nav-item
        = link_to 'Resume', resume_path
      %span.nav-item
        = link_to 'Contact', contact_path
    .clear
